.pricing {
    color: #282c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(59,59,59,.09);
}

.pricing-x {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.pricing-title{
    font-size: 54px;
    padding: 10px;
    margin-top: 10px;
}

.pricing-title > h1{
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 10px;
}

.pricing-title > h3{
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.tab{
    margin: 50px;
    background-color: #fff;
    padding: 40px 30px 20px 30px;
    border-radius: 10px;
    width: 300px;
    box-shadow: rgb(0 0 0 / 50%) 0px 0px 9px;
}

.tab-title{
    font-size: 25px;
}

.tab-title > h2{
    margin: 0;
    padding-bottom: 5px;
}

.tab-content #infor-description{
    margin-bottom: 25px;
    margin-top: 0px;
    text-align: left;
}


.infor-price {
    display: flex;
    flex-direction: row;
}

.infor-price #infor-price-number{
    font-size: 60px;
}

.infor-price .infor-price-script{
    display: flex;
    flex-direction: column;
    font-weight: 100;
    padding-top: 45px;
}

.infor-container {
    background-color: #f7f7f8;
    width: 100%;
    margin: 10px -30px 0;
    padding: 30px 30px 10px;
}

.infor-container > ul{
    text-align: left;
}

.infor-container-title >h4{
    margin-top: 0;
}

.buy-btn{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
}


.buy-btn > button{
    color: #fff;
    background-color: #0073ec;
    border: 2px solid #0073ec;
    border-radius: 5px;
    width: 100%;
    font-size: 23px;
    padding: 10px;
    margin: 5px;
}

.footer{
    background-color: #0E97FF;
    padding: 70px 0;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright{
    padding-left: 2%;
}

.footer-icons{
    padding-right: 2%;
}

.footer-icons #icon{
    margin-left: 10px;
}

/* Mobile*/
@media only screen and (max-width:46.1875em){
    .pricing-x {
        flex-direction: column;
    }
    .pricing-title > h1{
        font-size: 40px;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
    }
    .pricing-title > h3{
        font-size: 20px;
    }
    .tab{
        width: 240px;
    }
    .footer{
        flex-direction: column;
        text-align: center;
    }
}


/*Tablet*/
@media only screen and (min-width:46.25em) and (max-width:63.9375em){
    .pricing-x {
        flex-direction: column;
    }
    .pricing-title > h1{
        font-size: 40px;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
    }
}

/* ipad Pro*/
@media only screen and (min-width:64em) and (max-width:82.5em){
    .pricing-x{
        flex-direction: column;
    }
    pricing-title > h1{
        font-size: 50px;
        padding: 5px;
        margin-top: 5px;
        text-align: center;
    }
}
