.actor {
    height: 505px;
    width: 300px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    display: flex;
    flex-direction: column;

    margin: 50px;
}

.actor-img {
    height: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actor img {
    width: 90%;
}

.actor-content {    height: 28%;
}

.actor-more {
    height: 7%;
    text-align: left;
    padding-left: 30px;
    color: #630dff;
}

.actor-more:hover {
    text-decoration: underline;
}

#infor-name {
    margin-bottom: 5px;
}

#infor {
    margin: 0px;
    font-weight: 400;
}