.App {
  text-align: center;
  color: white;
}

.App-nav-container {
  height: 60px;
  background-color: #0E97FF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-nav-logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.App-nav-logo {
  height: 45px;
  background: none;
  padding: 0px 5px;
}

.App-nav-bar {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.App-nav-bar-link-container {
  margin: 0px 30px;
  background: unset;
  border: unset;
  padding-bottom: 13px;
}

.App-nav-bar-link-container:hover {
  margin: 0px 30px;
  padding-bottom: 9px;
  border-bottom: solid 4px #92D1F0;
  text-decoration: none;
}

.App-nav-bar-link-container-active {
  margin: 0px 30px;
  background: unset;
  padding-bottom: 19px;
  border: none;
  border-bottom: solid 4px #fff;
}

.App-nav-bar-link {
  color: #fff;
  text-decoration: unset;
  font-weight: 700;
}

.App-nav-get-started {
  padding: 10px 24px;
  border: 0px;
  border-radius: 5px;
  background-color: #0c81ef;
  color: white;
  font-weight: 700;
  margin-right: 15px;
  font-size: 18px;
}

.App-nav-get-started:hover
{
  cursor: pointer;
}